<%- include('header'); -%>

<main>
  <div class="container text-center">
    <div class="align-items-center table-responsive-sm">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Courses</th>
            <th scope="col">Grades</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Biology</td>
            <td><em><%= %></em></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Maths</td>
            <td><em><%= %></em></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Science</td>
            <td><em><%= %></em></td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>English</td>
            <td><em><%= %></em></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<hr style="border-top: 1px dashed white" />
<%- include('footer'); -%>
